<!DOCTYPE html>
<html>
   <head>
       <title> Contact Us </title>
       <link rel="stylesheet" href="style.css">
   </head>
   <header>
    <div class="container" >
    <img src="pdga.jpeg" alt="logo" width="200" height="50" class="logo">   
        <nav><ul>
            <li><a href="DiscGolf.html">Home</a></li>
            <li><a href="contact.html">Contact</a></li> 
            <li><a href="DiscBlog.html">Blog</a></li>
        </ul>
    
    </nav>
</div> 
</header>
   <body>
       <div class="Akki3">
       <div class="Akki4">
           <h2 id="ab1"><center>Need Help? Contact Us!</center></h2>
       <div class="container">
<form method=post>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

  

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
</form>
</div>
           </div>
       <footer>
        Have any ideas to improve our site? Go to the contact page to reach me for any questions or ideas!
        </footer>
       </div>
       </div>
   </body>
</html>