<html>
   <head>
       <title> Disc Golf for Beginners </title>
       <link rel="stylesheet" href="style.css">
       <script> alert("Welcome to Disc Golf!");</script>
    </head>
   <body>
    <header>
        <div class="container" >
        <img src="pdga.jpeg" alt="logo" width="200" height="50" class="logo">   
            <nav><ul>
                <li><a href="DiscGolf.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li> 
                <li><a href="DiscBlog.html">Blog</a></li>
            </ul>
        
        </nav>
    </div> 
    </header>
    <body>
        
    <div class="container2">
        <div class="centered">Disc Golf for Beginners</div>
        <img src="innova disc background.jpg" height="600" width="1920" alt="background picture">
    </div>
</body>
    
    
    
    
    <h3><center>Click any of the pictures to learn more about each disc type and when to throw them!</center></h3>
    <hr>        
    <a href="DistanceDriver.html">
                <img src="distance driver.jpg" width="200" height="200" hspace="30" alt="distance drivers"/>
            </a>
            <a href="FairwayDriver.html">
                <img src="fairwayDriver.jpg" width="200" height="200" hspace="30" alt="fairway drivers"/>
            </a>
            <a href="Midrange.html">
                <img src="midrange.jpg" width="200" height="200" hspace="30" alt="midranges"/>
            </a>  
            <a href="Putter.html">
                <img src="putter.jpg" width="200" height="200" hspace="30" alt="putters"/>
            </a>  
        
            </div>
            
            <hr>
            <footer>
           Have any ideas to improve our site? Go to the contact page to reach me for any questions or ideas!
           <button onclick="topFunction()" id="top" title="Go to top">Top</button>
           <script src="topbutton.js"></script>
         </footer>
       </div>
       </div>
   </body>
</html>