<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="comment.css">
</head>
<header>
    <div class="container" >
        <img src="pdga.jpeg" alt="logo" width="200" height="50" class="logo">   
            <nav><ul>
                <li><a href="DiscGolf.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li> 
                <li><a href="DiscBlog.html">Blog</a></li>
            </ul>
        
        </nav>
    </div> 
    </header>
   <body>
<iframe width="750" height="415" 
src= "https://www.youtube.com/embed/RiuyaSCaUQU">
</iframe>
<hr>
<h4><center>Description</center></h4>
<p>This is a quick informative video on disc golf make sure to go check them out on YouTube if you're new to disc golf I highly reccomend them!
</p>
<hr>
<div class="container">
    <label for="comment" name="comment"> COMMENT BELOW </label>
    <textarea id="comment"></textarea>
    <button id="addComments">Add</button>
    <div id="allComments"></div>
</div>
<script src="comment.js"></script>
</body>
<hr>
<footer>
    Have any ideas to improve our site? Go to the contact page to reach me for any questions or ideas!
    </footer>
</html>