<html>
   <head>
       <title> Distnace Drivers </title>
       <link rel="stylesheet" href="style.css">
   </head>
   <header>
    <div class="container" >
        <img src="pdga.jpeg" alt="logo" width="200" height="50" class="logo">   
            <nav><ul>
                <li><a href="DiscGolf.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li> 
                <li><a href="DiscBlog.html">Blog</a></li>
            </ul>
        
        </nav>
    </div> 
    </header>
   <body>
       
           <h1 id="ab1"> <center>Distance Drivers</center> </h2> 
            <p><center>Distance drivers range from speeds 9 to 15. When thrown at the correct speed, their flight characteristics mimic that of slower discs, ranging all over in stability. 
                However, when underthrown, distance drivers all become quite overstable and fade out quickly. Some of the most popular options are:</center></p>
                <h3><center>Click any of the pictures to go to a trusted website to purchase them!</center></h3>
                <a href="https://proshop.innovadiscs.com/star-destroyer-signature/">
                <img src="destroyer.jpg" width="300" height="300" hspace="30" alt="destroyer"/>
            </a>
            <a href="https://proshop.innovadiscs.com/star-wraith/">
                <img src="wraith.jpg" width="300" height="300" hspace="30" alt="Wraith"/>
            </a>
            <a href="https://www.discraft.com/paul-mcbeth-zeus-driver-mcbethzeus">
                <img src="zeus.jpg" width="300" height="300" hspace="30" alt="Zeus"/>
            </a>  
            <a href="https://infinitediscs.com/Infinite-Discs-Aztec">
                <img src="aztec.jpg" width="300" height="300" hspace="30" alt="Aztec"/>
            </a>  
        </div>
            
        
            <footer>
           Have any ideas to improve our site? Go to the contact page to reach me for any questions or ideas!
           
        </footer>
       </div>
       </div>
   </body>
</html>