<html>
   <head>
       <title> Fairway Drivers </title>
       <link rel="stylesheet" href="style.css">
   </head>
   <header>
    <div class="container" >
        <img src="pdga.jpeg" alt="logo" width="200" height="50" class="logo">   
            <nav><ul>
                <li><a href="DiscGolf.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li> 
                <li><a href="DiscBlog.html">Blog</a></li>
            </ul>
        
        </nav>
    </div> 
    </header>
   <body>
       
           <h1 id="ab1"> <center>Fairway Drivers</center> </h2> 
            <p><center>A fairway driver, meanwhile, represents a transition between the midrange and the distance driver: It delivers more speed, has straighter 
                flights and less skip, and can manage shorter distances.. Some of the most popular options are:</center></p>
                <h3><center>Click any of the pictures to go to a trusted website to purchase them!</center></h3>
                <a href="https://proshop.innovadiscs.com/pro-teebird/">
                <img src="teebird.jpg" width="300" height="300" hspace="30" alt="destroyer"/>
            </a>
            <a href="https://proshop.innovadiscs.com/gstar-firebird/">
                <img src="firebird.jpg" width="300" height="300" hspace="30" alt="Wraith"/>
            </a>
            <a href="https://infinitediscs.com/Discraft-Undertaker">
                <img src="undertaker.jpg" width="300" height="300" hspace="30" alt="Zeus"/>
            </a>  
            <a href="https://proshop.innovadiscs.com/star-valkyrie/">
                <img src="valk.jpg" width="300" height="300" hspace="30" alt="Aztec"/>
            </a>  
        </div>
            
        
            <footer>
           Have any ideas to improve our site? Go to the contact page to reach me for any questions or ideas!
       </footer>
       </div>
       </div>
   </body>
</html>