<html>
   <head>
       <title>Putters</title>
       <link rel="stylesheet" href="style.css">
   </head>
   <header>
    <div class="container" >
        <img src="pdga.jpeg" alt="logo" width="200" height="50" class="logo">   
            <nav><ul>
                <li><a href="DiscGolf.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li> 
                <li><a href="DiscBlog.html">Blog</a></li>
            </ul>
        
        </nav>
    </div> 
    </header>
   <body>
       
           <h1 id="ab1"> <center>Putters</center> </h2> 
            <p><center>Putters and the skills you build are key to hitting the basket and making that shot. Compared to all other disc golf discs, putters have the slowest 
                speeds and the thinnest rims. These characteristics allow for less deviation, creating more of a straight path and not flying too far when you don't make the shot.
             Some of the most popular options are:</center></p>
             <h3><center>Click any of the pictures to go to a trusted website to purchase them!</center></h3>
             <a href="https://www.discraft.com/paul-mcbeth-luna-mcbethluna?returnurl=%2fsearch%3fq%3dluna">
                <img src="luna.png" width="300" height="300" hspace="30" alt="destroyer"/>
            </a>
            <a href="https://www.discraft.com/esp-zone-ezone">
                <img src="zone.jpg" width="300" height="300" hspace="30" alt="Wraith"/>
            </a>
            <a href="https://www.discmania.net/collections/p2/products/d-line-p2-1">
                <img src="p2.jpg" width="300" height="300" hspace="30" alt="Zeus"/>
            </a>  
            <a href="https://www.dynamicdiscs.com/collections/dynamic-discs-judge/products/dynamic-discs-classic-soft-burst-judge">
                <img src="judge.jpg" width="300" height="300" hspace="30" alt="Aztec"/>
            </a>  
        </div>
            
        
            <footer>
           Have any ideas to improve our site? Go to the contact page to reach me for any questions or ideas!
       </footer>
       </div>
       </div>
   </body>
</html>